<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="users">
    <form align="center" id="filter" method="post" th:action="@{/users}">
        <div class="form-row justify-content-center mb-3">
            <div class="form-group col-md-6">
                <input aria-label="filter" class="form-control" th:name="pattern"
                       th:placeholder="#{users.filter.placeholder}" type="search">
            </div>

            <div class="form-group col-md-1">
                <button class="btn btn-outline-primary" name="filterUser" type="submit">
                    <span class="btn-label"><i class="fas fa-filter"></i></span>
                </button>
            </div>
        </div>
    </form>
    <div class="table-responsive table-body">
        <table class="table table-hover">
            <thead class="bg-secondary text-white">
            <tr>
                <th th:text="#{users.user.header.id}"></th>
                <th th:text="#{users.user.header.first-name}"></th>
                <th th:text="#{users.user.header.last-name}"></th>
                <th th:text="#{users.user.header.email}"></th>
                <th th:text="#{users.user.header.role}"></th>
                <th th:text="#{users.user.header.account-activated}"></th>
                <th th:text="#{users.user.header.email-verified}"></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users.page}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.accountActivated}"></td>
                <td th:text="${user.emailVerified}"></td>
                <td>
                    <button class="btn btn-outline-danger" data-toggle="modal"
                            th:attr="data-target='#modal-delete-user'+${user.id}"
                            type="button">
                        <span class="btn-label"><i class="fas fa-trash-alt"></i></span>
                    </button>
                    <div th:replace="/modal/delete-user-modal :: delete-user"/>
                </td>
                <td>
                    <div th:if="${user.emailVerified==true}">
                        <button class="btn btn-outline-primary" th:attr="onclick=|prepareModalUser('${user.id}')| "
                                type="button">
                            <span class="btn-label"><i class="fas fa-pencil-alt"></i></span>
                        </button>
                        <div th:replace="/modal/update-user-modal :: update-user"/>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <nav aria-label="Page navigation" class="paging">
            <ul class="pagination" th:if="${users.page.totalPages > 1}">
                <li class="page-item" th:classappend="${!users.paging.isPrevEnabled()? 'disabled' : ''}">
                    <a class="page-link" tabindex="-1"
                       th:href="@{'/users?pageNumber=' + ${users.paging.pageNumber - 1}}"><i
                            class="bi bi-chevron-left"></i></a>
                </li>
                <th:block th:each="item : ${users.paging.getItems()}">
                    <li class="page-item" th:classappend="${item.index == users.paging.pageNumber? 'active' : ''}"
                        th:if="${item.pageItemType.name() == 'PAGE'}">
                        <a class="page-link" th:href="@{'/users?pageNumber=' + ${item.index}}"
                           th:text="${item.index}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${!users.paging.isNextEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/users?pageNumber=' + ${users.paging.pageNumber + 1}}"><i
                            class="bi bi-chevron-right"></i></a>
                </li>
            </ul>
        </nav>
        <form action="/users" id="users_page_size" method="get">
            <select class="form-control" onchange="changePageSize()" required th:id="size"
                    th:name="size">
                <option
                        th:each="opt : ${T(controlling.contractRegister.pagination.PageSize).values()}"
                        th:selected="${#strings.equals(opt.value, #strings.toString(users.paging.pageSize))}"
                        th:text="#{contracts.pagination.page-size-prefix(${opt.value})}"
                        th:value="${opt.value}">
                </option>
            </select>
        </form>
    </div>
</div>
</body>
</html>