<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-light" th:fragment="menu-select">
    <a class="navbar-brand" href="/home"><p th:text="#{menu.navbar.homepage}"></p></a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/contracts" th:text="#{menu.navbar.dropdown.selection.item1}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects" th:text="#{menu.navbar.dropdown.selection.item2}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories" th:text="#{menu.navbar.dropdown.selection.item3}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customers" th:text="#{menu.navbar.dropdown.selection.item4}"></a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="navbarDropdownMenuLink" role="button"
                   th:text="${#strings.toUpperCase(#locale).substring(0,2)}">
                </a>
                <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu" id="locales">
                    <a class="dropdown-item" th:href="@{__${#httpServletRequest.requestURI}__?(lang=pl)}"
                       th:text="#{menu.navbar.dropdown.languages.pl}"></a>
                    <a class="dropdown-item" th:href="@{__${#httpServletRequest.requestURI}__?(lang=en)}"
                       th:text="#{menu.navbar.dropdown.languages.en}"></a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/users" th:text="#{menu.navbar.element.admin}"></a></li>
            <li class="nav-item"><a class="nav-link" href="/logout" th:text="#{menu.navbar.element.logout}"></a></li>
        </ul>
    </div>
</nav>
</body>
</html>